## Deliverable 3. Create a Travel Itinerary Map.

In [109]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [110]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
0,0,Talnakh,RU,71.51,overcast clouds,69.4865,88.3972,Talnakh Hotel
1,2,Bethel,US,72.41,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
2,3,Albany,US,72.21,clear sky,42.6001,-73.9662,
3,5,Lumphat,KH,75.27,overcast clouds,13.4878,106.9816,Lumphat Homestay
4,6,Kapit,MY,82.56,scattered clouds,2.0167,112.9333,Hotel Meligai Kapit

In [137]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp F°</dt><dd>{Max Temp F°}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [131]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp F°"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [132]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mackenzie"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mackenzie"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Fairbanks"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Saint-Augustin"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Road Town"]

vacation_start

,City_ID,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
402,561,Mackenzie,CA,66.42,broken clouds,55.2999,-123.1698,Hilton Shop

In [133]:
vacation_end

,City_ID,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
402,561,Mackenzie,CA,66.42,broken clouds,55.2999,-123.1698,Hilton Shop

In [134]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0])

# Result outputs
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(55.2999, -123.1698)
(55.2999, -123.1698)
(64.8378, -147.7164)
(51.226, -58.6502)
(18.4167, -64.6167)

In [135]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(51.226, -58.6502), zoom_level=5)
direction_map = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(direction_map)
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [136]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp F°,Weather Description,Lat,Lng,Hotel Name
0,561,Mackenzie,CA,66.42,broken clouds,55.2999,-123.1698,Hilton Shop
1,174,Fairbanks,US,84.09,smoke,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
2,374,Saint-Augustin,CA,62.49,overcast clouds,51.2260,-58.6502,
3,530,Road Town,VG,83.19,few clouds,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"

In [138]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp F°}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [140]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))